main {
    max-width: 700px; 
    margin: 40px auto;
    background-color: rgb(139, 252, 214);
    padding: 40px;
    border-radius: 25px;
    border: 2px solid #00000087;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}


h1, h2 {
    font-family: "Macondo", cursive;

    font-weight: 400;
    margin-bottom: 30px;
    color: #ffffff;
    letter-spacing: 4px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(1, 61, 61);
}

label {
    margin-bottom: 12px;
    font-family: 'Segoe UI';
    font-size: 20px;
    font-weight: bold;
    color: rgb(1, 61, 61);
}


input:focus, 
select:focus, 
textarea:focus {
    outline: none;
    border-color: rgb(128, 255, 0);
    background-color: #f0f9e0;
    box-shadow: 0 0 15px rgba(106, 255, 0, 0.965);
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 90%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 2px solid #c7c7c7;
    border-radius: 10px;
    font-size: 16px; 
    transition: all 0.3s ease;
}

select, input[type="date"] {
    width: 50%;
    padding: 5px 15px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px solid #c7c7c7;
    border-radius: 10px;
    font-size: 16px;
    color: #646464;
    cursor: pointer;
}

textarea {
    width: 95%;
    max-width: 95%;
    font-size: 16px;
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
}

button[type="submit"] {
    width: 100%;
    padding: 20px;
    background-color: #171717fc;
    color: rgb(134, 247, 21);
    font-size: 22px;
    font-weight: bold;
    border-radius: 15px;
    transition: 0.4s;
}

button[type="submit"]:hover {
    border: none;
    background-color: chartreuse;
    color: #000;
    box-shadow: 0 8px 20px rgba(127, 255, 0, 0.3);
    transform: scale(1.04);
}

input[type="radio"], 
input [type="checkbox"] {
    transform: scale(1.5); 
    margin-right: 10px;
    margin-left: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    letter-spacing: 2px;
}