body{
    background-color: rgb(187, 248, 219);
}
h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.img01{
    display: block;
    margin: 0 auto;
    height: 300px;
}
.img02{
    height: 200px;
    width: 250 px;
}
em{
    font-size: 18px;
}
a{
    text-decoration: none;
    color: black;
}
footer{
    background-color: aquamarine;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}