body{
    background-color: rgb(187, 248, 219);
}
h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.img01{
    display: block;
    margin: 0 auto;
    height: 300px;
}
.img02{
    height: 150px;
}
em{
    font-size: 18px;
}